{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block content %}
<div class='row'>
	<div class='col-md-6'>
		<h1>{% trans 'Add MAC address' %}</h1>

		<form method="POST">
			{% csrf_token %}

			<p>{% blocktrans with mac=ubiquiti_client.mac oui=ubiquiti_client.oui essid=ubiquiti_client.essid  %}Do you want to associate the device with MAC address <strong>{{ mac }}</strong> ({{ oui }}), connected to WiFi network <strong>{{ essid }}</strong> with your account?{% endblocktrans %}</p>

			<div class="form-group"><label for="id_hostname">Hostname</label><input type="text" name="hostname" maxlength="32" class="form-control" placeholder="Hostname" title="" required id="id_hostname" value="{{ ubiquiti_client.hostname }}" /></div>

			<button class="btn btn-lg btn-primary btn-block" type="submit">{% trans 'Associate MAC' %}</button>
		</form>
	</div>
</div>
{% endblock %}
